= title("Calendar")

.col-md-12
  .col-md-10
    #worker-calendar

  .col-md-2{style: 'height:20em;margin-top:20%;'}
    = form_tag dashboard_search_path, method: :post, id: "calendar_events" do
      = select_tag("project_id", options_for_select(select_project), class: "form-control select2-drop-down select-project", prompt: "All Projects")
      %br
      %br
      = select_tag("team_id", options_for_select(select_team), class: "form-control select2-drop-down select-team", prompt: "All Teams")
      %br
      %br
      = select_tag("skill_id", options_for_select(select_skill), class: "form-control select2-drop-down select-skill", prompt: "All Skills")
.clearfix

:javascript
  $("#project_id, #team_id, #skill_id").change(function(){
    $("#calendar_events").submit();
  });