= title("#{@admin.name.humanize}-reset password")

%div.container
  = form_for(@admin, url: password_update_admin_path(@admin), html: { method: :put }) do |f|
    %div
      = render partial: 'shared/error', locals: {subject: @admin, subject_name: "admin"}

    %br
    %div.col-md-3
      = f.label :current_password
      = f.password_field :current_password, placeholder: "Old Password", autocomplete: "off", class: "form-control", required: true
      
      = render partial: 'devise/registrations/password_form', locals: {f: f}
      %br
      = f.submit "Save", class: "btn btn-md btn-primary"
      = link_to "Cancel", edit_admin_path(@admin), class: "btn btn-md btn-danger"