= title("#{@worker.name.humanize}-reset password")

%div.container
  = form_for(@worker, url: password_update_worker_path(@worker), html: { method: :put }) do |f|
    %div
      = render partial: 'shared/error', locals: {subject: @worker, subject_name: "worker"}

    %br
    %div.col-md-3
      = render partial: 'devise/registrations/password_form', locals: {f: f}
      %br
      = f.submit "Save", class: "btn btn-md btn-primary"
      = link_to "Cancel", edit_worker_path(@worker), class: "btn btn-md btn-danger"